<?xml version='1.0' encoding='utf-8'?>

<launch>
  <node pkg="xmate_robot" type="grasp_test_demo" name="xmate_robot" output="screen" >

   <!-- 中转台抓取物料参数 -->
    <!-- 抓取物料时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.018) -->
    <param name="grasp_x" value="0.016"/>　<!-- 单位：m-->
    <!-- 抓取物料时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.052) -->
    <param name="grasp_y" value="0.060"/>　<!-- 单位：m-->
    <!-- 抓取物料时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.198) -->
    <param name="grasp_z" value="0.199"/>　<!-- 单位：m-->




    <!-- 中转台物料id1在物料盘上面放置参数 -->
    <!-- 抓取id1物料到物料盘时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.0025) -->
    <param name="graspid1_x" value="-0.0008"/>　<!-- 单位：m-->
    <!-- 抓取id1物料到物料盘时机械臂的y坐标偏移量(笛卡尔坐标系)，减小向前(默认：-0.000) -->
    <param name="graspid1_y" value="0.0056"/>　<!-- 单位：m-->
    <!-- 抓取id1物料到物料盘时机械臂的z坐标偏移量(笛卡尔坐标系)，往上默认：0.050) -->
    <param name="graspid1_z" value="0.050"/>　<!-- 单位：m-->





    <!-- 中转台物料id2在物料盘上面放置参数 -->
    <!-- 抓取id2物料到物料盘时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：-0.0005) -->
    <param name="graspid2_x" value="-0.0025"/>　<!-- 单位：m-->
    <!-- 抓取id2物料到物料盘时机械臂的y坐标偏移量(笛卡尔坐标系)，减小 向前(默认：0.109) -->
    <param name="graspid2_y" value="0.11"/>　<!-- 单位：m-->
    <!-- 抓取id2物料到物料盘时机械臂的z坐标偏移量(笛卡尔坐标系)，往下增大(默认：0.050) -->
    <param name="graspid2_z" value="0.030"/>　<!-- 单位：m-->






  </node>

</launch>
