<?xml version='1.0' encoding='utf-8'?>

<launch>
  <node pkg="xmate_robot" type="place_grasp_demo_test" name="xmate_robot" output="screen" >

     <!-- 设置抓取物料参数 -->
    <!-- 抓取物料时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.007) -->
    <param name="grasp_x" value="0.018"/>　<!-- 单位：m-->
    <!-- 抓取物料时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.07) -->
    <param name="grasp_y" value="0.059"/>　<!-- 单位：m-->
    <!-- 抓取物料时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.223) -->
    <param name="grasp_z" value="0.1995"/>　<!-- 单位：m-->

    <!-- 设置放置物料参数 -->
    <!-- 放置物料到装配台时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.007) -->
    <param name="place_x" value="0.022"/>　<!-- 单位：m-->
    <!-- 放置物料到装配台时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.024) -->
    <param name="place_y" value="0.038"/>　<!-- 单位：m-->
    <!-- 放置物料到装配台时机械臂的z坐标偏移量(笛卡尔坐标系)，往下增大(默认：0.248) -->  
    <param name="place_z" value="0.218"/>　<!-- 单位：m-->

    <!-- 设置抓取成品参数 -->
    <param name="sheet_x" value="0.01"/>　<!-- 单位：m-->
    <!-- 抓取成品时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向后(默认： 0.093) -->
    <param name="sheet_y" value="0.0526"/>　<!-- 单位：m-->
    <!-- 抓取成品时机械臂的z坐标偏移量(笛卡尔坐标系)，往上增大(默认：0.253) -->
    <param name="sheet_z" value="0.237"/>　<!-- 单位：m-->

    <!-- 物料id1在物料盘上面放置参数 -->
    <!-- 抓取id1物料到物料盘时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.011) -->
    <param name="graspid1_x" value="-0.00150101"/>　<!-- 单位：m-->
    <!-- 抓取id1物料到物料盘时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.0) -->
    <param name="graspid1_y" value="0.0053"/>　<!-- 单位：m-->
    <!-- 抓取id1物料到物料盘时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.060134663) -->
    <param name="graspid1_z" value="0.050"/>　<!-- 单位：m-->

    <!-- 物料id2在物料盘上面放置参数 -->
    <!-- 抓取id2物料到物料盘时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往左(默认：0.0) -->
    <param name="graspid2_x" value="-0.003"/>　<!-- 单位：m-->
    <!-- 抓取id2物料到物料盘时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.11) -->
    <param name="graspid2_y" value="0.115"/>　<!-- 单位：m-->
    <!-- 抓取id2物料到物料盘时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.046834663) -->
    <param name="graspid2_z" value="0.025"/>　<!-- 单位：m-->

    <!-- 物料id1从物料盘上面抓取参数 -->
    <!-- 从物料盘抓取id1物料时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往后(默认：0.015) -->
     <param name="placeid1_x" value="-0.001"/>　<!-- 单位：m-->
    <!-- 从物料盘抓取id1物料时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向左(默认：0.002) -->
    <param name="placeid1_y" value="-0.008"/>　<!-- 单位：m-->
    <!-- 从物料盘抓取id1物料时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.057236873vvvvvv) -->
    <param name="placeid1_z" value="0.054"/>　<!-- 单位：m-->

    <!-- 物料id2从物料盘上面抓取参数 -->
    <!-- 从物料盘抓取id2物料时机械臂的x坐标偏移量(笛卡尔坐标系)，增大往后(默认：0.0) -->
    <param name="placeid2_x" value="-0.006"/>　<!-- 单位：m-->
    <!-- 从物料盘抓取id2物料时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向左(默认：0.1115) -->
    <param name="placeid2_y" value="0.117"/>　<!-- 单位：m-->
    <!-- 从物料盘抓取id2物料时机械臂的z坐标偏移量(笛卡尔坐标系)，往下减小(默认：0.041234663) -->
    <param name="placeid2_z" value="0.029"/>　<!-- 单位：m-->

    <!-- 成品放置到物料盘上 -->
    <param name="product_x" value="-0.002"/>　<!-- 单位：m-->
    <param name="product_y" value="0.008"/>　<!-- 单位：m-->
    <param name="product_z" value="0.06"/>　<!-- 单位：m-->

    <!-- 从物料盘上抓取成品 -->
    <param name="product_grasp_x" value="0.000002"/>　<!-- 单位：m-->
    <param name="product_grasp_y" value="-0.006"/>　<!-- 单位：m-->
    <param name="product_grasp_z" value="0.052"/>　<!-- 单位：m-->

    <!-- 将成品放置到立体仓库 -->
    <param name="Ste_warehouse_x" value="0.02"/>　<!-- 单位：m-->
    <param name="Ste_warehouse_y" value="0.00"/>　<!-- 单位：m-->
    <param name="Ste_warehouse_z" value="-0.004"/>　<!-- 单位：m-->

    <!-- 设置立体仓库放置的仓位 -->
    <param name="arcodeid" value="4.0"/>　

  </node>

</launch>
