<?xml version='1.0' encoding='utf-8'?>

<launch>
  <node pkg="xmate_robot_test" type="new_product_grasp_demo" name="xmate_robot" output="screen" >
    <!--设置机械臂运行速度-->
    <param name="move_sped" value="0.2"/>
    <param name="monitor_state" value="false"/>
    
    <!--螺丝放置位置对应Ar码号-->
    <param name="LS_ID" value="2 "/>
    <!--螺母放置位置对应Ar码号-->
    <param name="LM_ID" value="1"/>
    <!--钣金件放置位置对应Ar码号-->
    <param name="BJJ_ID" value="2"/>

    <!-- 成品放到AGV上面放置参数 -->
    <!-- AGV上放置成品时机械臂的x坐标偏移量(笛卡尔坐标系)，增大向左(默认：0.0) -->
    <param name="cp_bjj_grasp_x" value="0.0410802"/>　<!-- 单位：m-->
    <!-- AGV上放置成品时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向前(默认：0.1115) -->
    <param name="cp_bjj_grasp_y" value="-0.109"/>　<!-- 单位：m-->
    <!-- AGV上放置成品时机械臂的z坐标偏移量(笛卡尔坐标系)，增大向下(默认：0.041234663) -->
    <param name="cp_bjj_grasp_z" value="0.0420"/>　<!-- 单位：m-->
    
    <!-- 成品从装配台上面抓取参数 -->
    <!-- 成品从装配台上面抓取时机械臂的x坐标偏移量(笛卡尔坐标系)，增大向后(默认：0.0) -->
    <param name="cp_bjj_place_x" value="0.016"/>　<!-- 单位：m-->
    <!-- 成品从装配台上面抓取时机械臂的y坐标偏移量(笛卡尔坐标系)，增大向左(默认：0.1115) -->
    <param name="cp_bjj_place_y" value="0.057"/>　<!-- 单位：m 0.0945-->
    <!-- 成品从装配台上面抓取时机械臂的z坐标偏移量(笛卡尔坐标系)，增大向上(默认：0.041234663) -->
    <param name="cp_bjj_place_z" value="0.218"/>　<!-- 单位：m-->


  </node>

</launch>
